<div ng-include="'../templates/finance/tabs.html'">
</div>

<style>
    .jumbotron {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
</style>

<div ng-switch="selected">
    <div ng-switch-when="0">
        <div class="jumbotron" ng-include="'../templates/finance/jumbotrons/recent.html'">
        </div>
    </div>
    <div ng-switch-when="1">
        <div class="jumbotron" ng-include="'../templates/finance/jumbotrons/reports.html'">
        </div>
        
        <hr class="featurette-divider">
        
        <div ng-include="'../templates/finance/reports.html'" ng-controller="ReportsCtrl">
        </div>
    </div>
    <div ng-switch-when="2">
        <div class="jumbotron" ng-include="'../templates/finance/jumbotrons/portfolio.html'">
        </div>

        <hr class="featurette-divider">

        <div ng-include="'../templates/finance/tables.html'" ng-controller="StocksCtrl">
        </div>
    </div>
</div>