<h3>Reports</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Stock Ticker</th>
			<th>Company Name</th>
            <th>Sector</th>
            <th>Industry</th>
            <th>Rating</th>
		</tr>
	</thead>
	<tbody>
		<tr class="clickable" ng-repeat="report in reports" ng-click="open(report.url)" href>
			<td>{{report.ticker}}</td>
			<td>{{report.name}}</td>
            <td>{{report.sector}}</td>
            <td>{{report.industry}}</td>
            <td>{{report.rating}}</td>
		</tr>
	</tbody>
</table>