<h3>Short-Term Plays</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Stock Ticker</th>
			<th>Company Name</th>
			<th>Date of Purchase</th>
			<th>Adjusted Cost Price</th>
			<th>Current Stock Price</th>
			<th>Gain/Loss per Share</th>
		</tr>
	</thead>
	<tbody>
		<tr class="clickable" ng-repeat="short in shorts" ng-click="open(short)" href>
			<td>{{short.ticker}}</td>
			<td>{{short.name}}</td>
			<td>{{short.purchdate}}</td>
			<td>{{short.cost}}</td>
			<td>{{short.price}}</td>
			<td><span ng-bind-html="short.diff"></span></td>
		</tr>
	</tbody>
</table>
<br />
<br />
<h3>Long Plays</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Stock Ticker</th>
			<th>Company Name</th>
			<th>Date of Purchase</th>
			<th>Adjusted Cost Price</th>
			<th>Current Stock Price</th>
			<th>Gain/Loss per Share</th>
		</tr>
	</thead>
	<tbody>
		<tr class="clickable" ng-repeat="long in longs" ng-click="open(long)" href>
			<td>{{long.ticker}}</td>
			<td>{{long.name}}</td>
			<td>{{long.purchdate}}</td>
			<td>{{long.cost}}</td>
			<td>{{long.price}}</td>
			<td><span ng-bind-html="long.diff"></span></td>
		</tr>
	</tbody>
</table>
<br />
<br />
<h3>Closed Positions</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Stock Ticker</th>
			<th>Company Name</th>
			<th>Date of Purchase</th>
			<th>Date of Sale</th>
			<th>Cost Price</th>
			<th>Sale Price</th>
			<th>Gain/Loss per Share</th>
		</tr>
	</thead>
	<tbody>
		<tr class="clickable" ng-repeat="closed in closeds" ng-click="open(closed)" href>
			<td>{{closed.ticker}}</td>
			<td>{{closed.name}}</td>
			<td>{{closed.purchdate}}</td>
			<td>{{closed.exitdate}}</td>
			<td>{{closed.cost}}</td>
			<td>{{formatMoney(closed.exit)}}</td>
			<td><span ng-bind-html="closed.diff"></span></td>
		</tr>
	</tbody>
</table>