<win-pivot class="header-pivot">
    <win-pivot-item header="'Recent'">
        <div style="height:50px"></div>
        <div ng-include="'../templates/finance/views/recent.html'">
        </div>
    </win-pivot-item>
    <win-pivot-item header="'Reports'">
        <div style="height:50px"></div>
      <div class="regular-pivot" ng-include="'../templates/finance/views/reports.html'">
      </div>
    </win-pivot-item>
    <win-pivot-item header="'Portfolio'">
        <div style="height:50px"></div>
      <div ng-include="'../templates/finance/views/portfolio.html'">
      </div>
    </win-pivot-item>
</win-pivot>