<div class="container">
<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Tech Resume</h2>
			<p>Interested in seeing my experience and skills in technology and project management? This resume's for you!</p>
			<p><a class="btn btn-default" href="#" role="button">View Resume &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Finance Resume</h2>
			<p>Here's a targeted resume detailing my education and experience in accounting and finance.</p>
			<p><a class="btn btn-default" href="#" role="button">View Resume &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>General Resume</h2>
			<p>For everyone else; this resume contains a general listing of my leadership experiences and valuable skills relevant across multiple industries.</p>
			<p><a class="btn btn-default" href="/resume.pdf" role="button">View Resume &raquo;</a></p>
		</div>
	</div>
</div>