<div class="page-padding" ng-include="'templates/home/jumbotron.html'">
</div>

<!--<table style="padding: 25%" class="table">
	<thead>
		<tr>
			<th>Stock Ticker</th>
			<th class="optional">Company Name</th>
			<th class="optional">Date of Purchase</th>
			<th class="optional">Adjusted Cost Price</th>
			<th>Current Stock Price</th>
			<th>Gain/Loss per Share</th>
		</tr>
	</thead>
	<tbody>
        <tr ng-click="open(short)">
            <win-item-container>
                <td>AAPL</td>
                <td class="optional">Microsoft Corporation</td>
                <td class="optional">1/1/15</td>
                <td class="optional">10</td>
                <td>15</td>
                <td>15</td>
            </win-item-container>
        </tr>
	</tbody>
</table>-->

<win-list-view item-data-source="ratings" selection="selection">
    <win-list-view-header>This is a ListView header</win-list-view-header>
    <win-item-template>This list view item's rating is: {{item.data.rating}}</win-item-template>
    <win-list-layout></win-list-layout>
    <win-list-view-footer>This is a ListView footer</win-list-view-footer>
</win-list-view>

<!-- <hr class="featurette-divider">

<div class="marketing" ng-include="'templates/home/circles.html'">
</div>


<div ng-include="'templates/home/featurettes.html'">
</div> -->