<div class="well">
	<h3>Quick Reference</h3>
	<ul>
	</ul>
</div>

<div>
	<ul class="timeline">
		<li>
			<div class="thumbnail">
				<div class="caption">
					<h3>Bruin Hedge Fund</h3>
					<h4>Head Research Analyst (Information Technology)</h4>
					<p>Lorem ipsum text</p>
				</div>
			</div>
		</li>
		
		<li>
			<div class="thumbnail">
				<div class="caption">
					<h3>Ascend at UCLA</h3>
					<h4>Treasurer</h4>
					<p>Lorem ipsum text</p>
				</div>
			</div>
		</li>
		
		<li>
			<div class="thumbnail">
				<div class="caption">
					<h3>UCLA Anderson School of Management</h3>
					<h4>Grader</h4>
					<p>Lorem ipsum text</p>
				</div>
			</div>
		</li>
		
		<li>
			<div class="thumbnail">
				<div class="caption">
					<h3>Ascend at UCLA</h3>
					<h4>Vice President of Information Technology</h4>
					<p>Lorem ipsum text</p>
				</div>
			</div>
		</li>
	</ul>
</div>