<p>See Finance section for equity reports.</p>

<table class="table skills-table">
    <thead>
        <tr>
            <th>Area</th>
            <th>Familiarity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Long/Short Equity</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 90%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Equity/Debt Valuation</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 75%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Options</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 60%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Macro</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 55%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Futures</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 35%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Forex</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 15%"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>