<p>See Finance section for equity reports.</p>

<h3>Equity</h3>
<table class="table skills-table">
    <thead>
        <tr>
            <th>Skill</th>
            <th>Familiarity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Discounted Cash Flow Valuation</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Residual Income Valuation</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 75%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Comparable Ratios Analysis</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 85%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Leveraged Buyout Valuation</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 40%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Accounting</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 90%"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<h3>Sectors</h3>
<table class="table skills-table">
    <thead>
        <tr>
            <th>Sector</th>
            <th>Familiarity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Consumer Discretionary</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Consumer Staples</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 65%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Energy</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 75%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Financials</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 30%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Healthcare</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 35%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Industrials</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 40%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Information Technology</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 90%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Materials</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 80%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Real Estate</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 20%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Telecommunication Services</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 75%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Utilities</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 30%"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<h3>Options</h3>
<table class="table skills-table">
    <thead>
        <tr>
            <th>Skill</th>
            <th>Familiarity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Black-Scholes Model</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 60%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Binomial Options Pricing Model</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Long/Short Naked/Covered Options</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 75%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Long/Short Strangle/Straddle Strategies</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 55%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Long/Short Call/Put Spreads</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 55%"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>