<p>Github: <a href="https://github.com/adeng">adeng</a></p>

<h3>Programming Languages</h3>
<table class="table skills-table">
    <thead>
        <tr>
            <th>Language</th>
            <th>Experience</th>
            <th>Skill</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Java</td>
            <td>{{yearsFrom(2009)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 85%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>C++</td>
            <td>{{yearsFrom(2013)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 80%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>HTML 5</td>
            <td>{{yearsFrom(2011)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 95%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>CSS 3</td>
            <td>{{yearsFrom(2011)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 80%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Javascript</td>
            <td>{{yearsFrom(2012)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 90%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>PHP</td>
            <td>{{yearsFrom(2013)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 60%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Python</td>
            <td>{{yearsFrom(2015)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 20%"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<h3>Data Analysis</h3>
<table class="table skills-table">
    <thead>
        <tr>
            <th>Language</th>
            <th>Experience</th>
            <th>Skill</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Microsoft Excel</td>
            <td>{{yearsFrom(2010)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 90%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>SQL</td>
            <td>{{yearsFrom(2015)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Stata</td>
            <td>{{yearsFrom(2015)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 30%"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<h3>Frameworks</h3>
<table class="table skills-table">
    <thead>
        <tr>
            <th>Framework</th>
            <th>Experience</th>
            <th>Skill</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>JQuery</td>
            <td>{{yearsFrom(2013)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 90%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Bootstrap</td>
            <td>{{yearsFrom(2014)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 80%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>AngularJS</td>
            <td>{{yearsFrom(2015)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 85%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Angular 2</td>
            <td>{{yearsFrom(2016)}} years</td>
            <td>
                <div>
                    <div class="progress-bar" style="width: 45%"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>