<style>
    i {
        text-align: center;
    }

    #main {
        padding: 10px;
    }
</style>
<div id="main">
    <div>
        <h2>AppGet</h2>
        <h3>Status: <span style="color: rgb(232,125,55)">Development Stalled</span></h3>
        <p><i>Create an intuitive web interface that would allow users to select pre-packaged features and bundle them together to generate iOS and Android mobile applications.</i></p>
        <p>Created a generic app and features that would pull data from a host website. The host website, which was never completed, would allow users to select the features they wanted and input data that would be sent live to the app. The app would then be generated through an automated build process that would pull together the selected features and release the app to the respective app stores.</p>
    </div>

    <hr />

    <div>
        <h2>Learn Algebra</h2>
        <h3>Status: <span style="color: rgb(106,158,31)">Developed and Released</span></h3>
        <p><i>Build a mobile application that provides students an accessible tutoring program that allows them to study on their own time and schedule.</i></p>
        <p>Created, with the rest of the team at ExEquals, an Android application with three features: learn, practice, and quicknotes. The learn section contained an abridged algebra textbook, the practice section would randomly generate practice problems with solutions and explanations, and the quicknotes section contained a sparknotes summary of the most important topics in algebra.</p>
    </div>
</div>