<style>
    .gpa-box {
        width: 100%;
        margin: 20px 0px 20px 0px;
        text-align: center;
    }
    
    .gpa-box h1 {
        display:block;
    }
    
    .gpa-box hr {
        margin-top: 0px !important;
    }
    
    .gpa-box input {
        font-size: x-large;
        text-align: center;
        background-color: #E2E2E2;
        border: 2px solid white;
    }
    
    .gpa-box input:hover {
        color: rgb(20, 150, 124) !important;
        border: 2px solid #A2A2A2;
        transition: border 0.2s;
    }
    
    .win-dropdown {
        margin: 0 auto !important;
        width: 100%;
        font-size: x-large;
        text-align: center;
        background-color: #E2E2E2 !important;
        font-size: large;
    }
    
    .selector {
        text-align: center;
        line-height: 250%;
    }
    
    .selector-hidden {
        display: none;
    }
    
    .selector h3 {
        display: inline;
        color: #A2A2A2;
        margin: 20px 20px 40px 20px;
    }
    
    .selector h3:hover {
        color: rgba(106,158,31,0.4);
    }
    
    .selector .optional {
        display: inline;
    }
    
    .selector-active {
        color: rgb(106,158,31) !important;
        font-weight: bold;
        border-bottom: 2px solid rgb(106,158,31);
    }
    
    @media (max-width: 650px) {
        .selector {
            display: none;
        }
        
        .selector-hidden {
            display: block;
        }
        
        .gpa-box input {
            width: 100%;
        }
    }
    
    @media (max-width: 500px) {
        h4 {
            margin-top: 35px;
        }
    }
    
    @media (max-width: 280px) {
        .reduce {
            display: none;
        }
    }
</style>

<div class="outer-box">
    <div class="inner-box">
        <h1>Quick Reference</h1>
        <h4><b>High School:</b> Lynbrook High School</h4>
        <ul>
            <li>SAT: 780 Reading, 790 Math, 710 Writing</li>
            <li>AP: 5 in Comp Sci, Calc BC, US History, English Language, Psych, US Gov, English Literature, Statistics, Macro and Micro Econ</li>
        </ul>
        <h4><b>Undergrad:</b> University of California, Los Angeles</h4>
        <ul>
            <li>Degree: Business Economics, B.A.</li>
            <li>Minor: Accounting</li>
            <li>Concentration: Computing</li>
        </ul>
    </div>
</div>

<div class="page-padding">
	<div class="filter-btns">
		<p style="text-align: center">Filter classes</p>
        <div class="selector">
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 0}" ng-click="filterClasses(0)">All</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 1}" ng-click="filterClasses(1)">General Ed</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 2}" ng-click="filterClasses(2)">Major Classes</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 3}" ng-click="filterClasses(3)">Upper Div</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 4}" ng-click="filterClasses(4)">Computing</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 5}" ng-click="filterClasses(5)">Accounting</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 6}" ng-click="filterClasses(6)">Tech</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 7}" ng-click="filterClasses(7)">Business</h3>
        </div>
        <select class="win-dropdown selector-hidden" ng-model="classModel" ng-change="filterClasses(classModel)">
			<option value="0" selected="selected">All</option>
			<option value="1">General Ed</option>
            <option value="2">Major Classes</option>
            <option value="3">Upper Div</option>
            <option value="4">Computing</option>
            <option value="5">Accounting</option>
            <option value="6">Tech</option>
            <option value="7">Business</option>
		</select>
	</div>
	
    <div class="gpa-box">
        <h1>GPA</h1>
        <hr />
		<input type="text" class="win-textbox" ng-model="gpa" disabled="disabled">
    </div>
    
	<br />
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Class Symbol</th>
				<th class="reduce">Course Name</th>
				<th class="optional">Professor</th>
				<th class="optional">Units</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="class in classes">
				<td><b>{{class.no}}</b></td>
				<td class="reduce">{{class.name}}</td>
				<td class="optional">{{class.professor}}</td>
				<td class="optional">{{class.units}}</td>
				<td>{{class.grade}}</td>
			</tr>
		</tbody>
	</table>
</div>