<style>
    .gpa-box {
        width: 100%;
        margin: 20px 0px 20px 0px;
        text-align: center;
    }
    
    .gpa-box h1 {
        display:block;
    }
    
    .gpa-box hr {
        margin-top: 0px !important;
        color: #D2D2D2;
    }
    
    .gpa-box input {
        font-size: x-large;
        text-align: center;
        background-color: #E2E2E2;
        border: 2px solid white;
    }
    
    .gpa-box input:hover {
        color: rgb(20, 150, 124) !important;
        border: 2px solid #A2A2A2;
        transition: border 0.2s;
    }
    
    .win-dropdown {
        margin: 0 auto !important;
        width: 100%;
        font-size: x-large;
        text-align: center;
        background-color: #E2E2E2 !important;
        font-size: large;
    }
    
    @media (max-width: 650px) {
        .gpa-box input {
            width: 100%;
        }
    }

    @media (max-width: 500px) {
        h4 {
            margin-top: 35px;
        }
    }

    @media (max-width: 340px) {
        .reduce {
            display: none;
        }
    }
    
    #box-2 {
        background: url("/data/img/home/background.jpg");
    }

    .box-card {
        top: 10% !important;
        height: 80%;
        right: 5vh;
        min-width: 358px;
        width: 50%;
        position: absolute;
        background-color: rgba(248,248,248,0.2);
        color: white;
        padding: 4vh;
        z-index: 10;
    }

    .box-card:hover {
        box-shadow: inset 0 0 0 2px rgb(250,250,250);
    }

    .box-card h4 {
        font-size: 1.8vh;
        margin: 5px;
    }

    .box-card ul {
        margin: 5px;
    }

    .box-card li {
        font-size: 1.5vh;
        list-style-type: none;
    }

    .box-card-mobile {
        margin-top: 40px !important;
        background-color: #E2E2E2;
        width: 85%;
        margin: auto;
        padding: 12px;
    }

    .box-card-mobile:hover {
        background-color: white;
        box-shadow: inset 0 0 0 2px #A2A2A2;
        transition: box-shadow 0.2s;
    }

    .box-card-mobile {
        display: none;
    }

    .box-card-mobile h4 {
        font-size: 1.8vh;
        margin: 5px;
    }

    .box-card-mobile ul {
        margin: 5px;
    }

    .box-card-mobile li {
        font-size: 1.5vh;
        list-style-type: none;
    }

    @media (max-width: 700px), (max-height: 660px) {
        .box-card {
            display: none;
        }

        .box-card-mobile {
            display: block;
        }
    }

    @media (max-height: 700px) {
        .box-card-mobile h4 {
            font-size: 14px;
            margin: 5px;
        }

        .box-card-mobile li {
            font-size: 12px;
            list-style-type: none;
        }
    }
</style>

<div class="outer-box">
    <div class="inner-box" id="box-2">
        <h1>Education</h1>
        <div class="box-card">
            <h4>Currently: Graduated June 2016</h4>
            <h4><b>Undergrad:</b> University of California, Los Angeles</h4>
            <ul>
                <li>GPA: 3.96, <i><b>Summa Cum Laude</b></i></li>
                <li>Degree: Business Economics, B.A.</li>
                <li>Minor: Accounting</li>
                <li>Concentration: Computing</li>
            </ul>
            <h4><b>High School:</b> Lynbrook High School</h4>
            <ul>
                <li>GPA: 3.97 unweighted, 4.44 weighted</li>
                <li>SAT: 780 Reading, 790 Math, 710 Writing</li>
            </ul>
        </div>
    </div>
    <div class="gradient-box">
    </div>
</div>

<div class="box-card-mobile">
    <h4>Currently: Graduated June 2016</h4>
    <h4><b>Undergrad:</b> University of California, Los Angeles</h4>
    <ul>
        <li>GPA: 3.96, <i><b>Summa Cum Laude</b></i></li>
        <li>Degree: Business Economics, B.A.</li>
        <li>Minor: Accounting</li>
        <li>Concentration: Computing</li>
    </ul>
    <h4><b>High School:</b> Lynbrook High School</h4>
    <ul>
        <li>GPA: 3.97 unweighted, 4.44 weighted</li>
        <li>SAT: 780 Reading, 790 Math, 710 Writing</li>
    </ul>
</div>

<div class="page-padding">
	<div class="filter-btns">
		<p style="text-align: center">Filter classes</p>
        <div class="selector">
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 0}" ng-click="filterClasses(0)">All</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 1}" ng-click="filterClasses(1)">General Ed</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 2}" ng-click="filterClasses(2)">Major Classes</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 3}" ng-click="filterClasses(3)">Upper Div</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 4}" ng-click="filterClasses(4)">Computing</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 5}" ng-click="filterClasses(5)">Accounting</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 6}" ng-click="filterClasses(6)">Tech</h3>
            <h3 class="clickable" ng-class="{'selector-active': selectBox == 7}" ng-click="filterClasses(7)">Business</h3>
        </div>
        <select class="win-dropdown selector-hidden" ng-model="classModel" ng-change="filterClasses(classModel)">
			<option value="0" selected>All</option>
			<option value="1">General Ed</option>
            <option value="2">Major Classes</option>
            <option value="3">Upper Div</option>
            <option value="4">Computing</option>
            <option value="5">Accounting</option>
            <option value="6">Tech</option>
            <option value="7">Business</option>
		</select>
	</div>
	
    <div class="gpa-box">
        <h1>GPA</h1>
		<input type="text" class="win-textbox" ng-model="gpa" disabled="disabled">
    </div>
    
	<br />
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Class Symbol</th>
				<th class="reduce">Course Name</th>
				<th class="optional">Professor</th>
				<th class="optional">Units</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="class in classes">
				<td><b>{{class.no}}</b></td>
				<td class="reduce">{{class.name}}</td>
				<td class="optional">{{class.professor}}</td>
				<td class="optional">{{class.units}}</td>
				<td>{{class.grade}}</td>
			</tr>
		</tbody>
	</table>
</div>