<div class="outer-box">
    <div class="inner-box">
        <h1>Quick Reference</h1>
		<h3>Currently: Associate at PwC</h3>
    </div>
</div>

<div class="filter-btns">
    <p style="text-align: center">Filter</p>
    <div class="selector">
        <h3 class="clickable" ng-class="{'selector-active': selectBox == 0}" ng-click="filterWork(0)">All</h3>
        <h3 class="clickable" ng-class="{'selector-active': selectBox == 1}" ng-click="filterWork(1)">Technology</h3>
        <h3 class="clickable" ng-class="{'selector-active': selectBox == 2}" ng-click="filterWork(2)">Business</h3>
    </div>
	<select class="win-dropdown selector-hidden" ng-model="classModel2" ng-change="filterWork(classModel2)">
		<option value="0" selected="selected">All</option>
		<option value="1">Technology</option>
		<option value="2">Business</option>
	</select>
</div>

<div class="page-padding">
	<ul class="timeline">
		<li ng-repeat="exp in experiences" ng-if="radioModel == 0 || (radioModel == 1 && exp.tech) || (radioModel == 2 && exp.biz)">
			<div class="thumbnail">
				<p class="badge">{{exp.time}}</p>
				<p class="badge alert-success" ng-if="exp.tech">Tech</p>
				<p class="badge alert-warning" ng-if="exp.biz">Business</p>
				<div class="caption">
					<h3>{{exp.company}}</h3>
					<h4>{{exp.title}}</h4>
					<ul>
						<li ng-repeat="stuff in exp.content">
							{{stuff}}
						</li>
					</ul>
				</div>
			</div>
		</li>
	</ul>
</div>