<div class="outer-box">
    <div class="inner-box">
        <h1>Quick Reference</h1>
        <ul>
        </ul>
    </div>
</div>

<div class="filter-btns">
    <p style="text-align: center">Filter</p>
    <div class="selector">
        <h3 class="clickable" ng-class="{'selector-active': selectBox == 0}" ng-click="filterClasses(0)">All</h3>
        <h3 class="clickable" ng-class="{'selector-active': selectBox == 1}" ng-click="filterClasses(1)">Technology</h3>
        <h3 class="clickable" ng-class="{'selector-active': selectBox == 2}" ng-click="filterClasses(2)">Business</h3>
    </div>
</div>

<div class="page-padding">
    <hr />

	<ul class="timeline"> 
		<li ng-repeat="ext in extracurriculars" ng-if="radioModel == 0 || (radioModel == 1 && ext.tech) || (radioModel == 2 && ext.biz)">
			<div class="thumbnail">
				<p class="badge">{{ext.time}}</p>
				<p class="badge alert-success" ng-if="ext.tech">Tech</p>
				<p class="badge alert-warning" ng-if="ext.biz">Business</p>
				<div class="caption">
					<h3>{{ext.company}}</h3>
					<h4>{{ext.title}}</h4>
					<ul>
						<li ng-repeat="stuff in ext.content">
							{{stuff}}
						</li>
					</ul>
				</div>
			</div>
		</li>
	</ul>
</div>