<style>
    #box-7 {
        background: url("http://www.cfau-pd.net/images/bing-wallpaper/bing-wallpaper-1.jpg");
    }
</style>

<div class="outer-box">
    <div class="inner-box" id="box-7">
        <h1>My Portfolio</h1>
    </div>
    <div class="gradient-box">
    </div>
</div>

<div class="page-padding" ng-controller="StocksCtrl">
    <h3>Short-Term</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Stock Ticker</th>
                <th class="optional">Company Name</th>
                <th class="optional">Date of Purchase</th>
                <th class="optional">Adjusted Cost Price</th>
                <th>Current Stock Price</th>
                <th>Gain/Loss per Share</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="short in shorts" href>
                <td><b>{{short.ticker}}</b></td>
                <td class="optional">{{short.name}}</td>
                <td class="optional">{{short.purchdate}}</td>
                <td class="optional">{{short.cost}}</td>
                <td>{{short.price}}</td>
                <td><span ng-bind-html="short.diff"></span></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <h3>Long-Term</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Stock Ticker</th>
                <th class="optional">Company Name</th>
                <th class="optional">Date of Purchase</th>
                <th class="optional">Adjusted Cost Price</th>
                <th>Current Stock Price</th>
                <th>Gain/Loss per Share</th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable" ng-repeat="long in longs" href>
                <td><b>{{long.ticker}}</b></td>
                <td class="optional">{{long.name}}</td>
                <td class="optional">{{long.purchdate}}</td>
                <td class="optional">{{long.cost}}</td>
                <td>{{long.price}}</td>
                <td><span ng-bind-html="long.diff"></span></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <h3>Closed Positions</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Stock Ticker</th>
                <th class="optional">Company Name</th>
                <th class="optional">Date of Purchase</th>
                <th >Date of Sale</th>
                <th class="optional">Cost Price</th>
                <th class="optional">Sale Price</th>
                <th>Gain/Loss per Share</th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable" ng-repeat="closed in closeds" href>
                <td><b>{{closed.ticker}}</b></td>
                <td class="optional">{{closed.name}}</td>
                <td class="optional">{{closed.purchdate}}</td>
                <td>{{closed.exitdate}}</td>
                <td class="optional">{{closed.cost}}</td>
                <td class="optional">{{formatMoney(closed.exit)}}</td>
                <td><span ng-bind-html="closed.diff"></span></td>
            </tr>
        </tbody>
    </table>
</div>