<div class="outer-box">
    <div class="inner-box">
        <h1>My Portfolio</h1>
        <p>You can track the returns of my stock picks here, along with my entry/exit dates!</p>
        <p>I've separated them into two groups, short/medium term trades based on technical analysis and long term trades for high value/dividend stocks identified through fundamental analysis.</p>
    </div>
</div>

<div class="page-padding" ng-include="'../templates/finance/tables.html'" ng-controller="StocksCtrl">
</div>