<div class="display">
    <h1>My Portfolio</h1>
    <p>This is a list of all of the stocks I've purchased, separated into "long plays" and "short-term plays". Click each stock to read my rationale behind its pick. While I will try to write an analysis for every stock I purchase, I will not always be able to due to a very busy schedule. I'll try to get to all of them eventually though!</p>
    <p>Disclaimer: I am not a finance professional and sometimes have no idea what I'm doing. As embarrassing as it may be, I will post all of my picks here so that I can keep myself disciplined and hopefully learn about stock picks!</p>
</div>

<hr class="featurette-divider">

<div ng-include="'../templates/finance/tables.html'" ng-controller="StocksCtrl">
</div>