<div class="outer-box">
    <div class="inner-box">
        <h1>Reports</h1>
        <p>
            I've met many fundamental investors skeptical of technical analysis, as well as many technical analysts dismissive of fundamental analysis. However, I believe that both are complementary tools that work hand in hand.
        </p>
        <p>
            Below, I've separated my fundamental reports and technical reports. I use fundamental analysis to identify good candidates for buying/selling, and technical analysis for identifying when to buy/sell.
        </p>
    </div>
</div>

<div class="page-padding" ng-include="'../templates/finance/reports.html'" ng-controller="ReportsCtrl">
</div>