<style>
    .report-card {
        border: 2px solid #D2D2D2;
    }
    
    .report-card {
        padding: 15px;
        margin-bottom: 5px;
    }
    
    .report-card p {
        padding-left: 5px;
        display: inline;
    }
    
    .report-list {
        display: block;
        height: 100%;
        margin: 5%;
    }
    
    .report-card h3 {
        float: right;
        position: relative;
        top: -20px;
    }
    
    .report-card:hover {
        /*margin: 5px;*/
        border: 2px solid black;
        /*transition: margin 0.2s;*/
        cursor: pointer;
    }

    .report-card:active {
        transform: scale(0.98);
    }
    
    .win-container:hover {
        border: 0px;
    }
    
    .selector-reports-hidden {
        display: none;
    }
    
    .selector-reports h3 {
        display: inline;
        color: #A2A2A2;
    }
    
    .selector-reports h3:hover {
        color: rgba(53,106,149,0.4);
        transition: color 0.2s;
    }
    
    .selector-reports h3:nth-child(2) {
        float: right;
        margin: 0px;
    }
    
    .selector-reports .optional {
        display: inline;
    }
    
    .selector-reports-active {
        color: rgb(53,106,149) !important;
        border-bottom: 2px solid rgb(53,106,149);
    }
    
    @media (max-width: 500px) {
        .report-list {
            margin: 15px !important;
        }
        
        .selector-reports .optional {
            display: none !important;
        }
    }
    
    @media (min-width: 850px) {
        .selector-reports h3 {
            margin: 0px 30px 0px 30px !important;
        }
    }
    
    @media (max-width: 280px) {
        .selector-reports {
            text-align: center;
        }
        
        .selector-reports h3 {
            margin: 0 auto !important;
            display: block !important;
            float: initial !important;
        }
    }
    
    #box-6 {
        background: url("/data/img/home/background.jpg");
    }
</style>

<div class="outer-box">
    <div class="inner-box" id="box-6">
        <h1>Reports</h1>
    </div>
    <div class="gradient-box">
    </div>
</div>

<div class="page-padding" ng-controller="ReportsCtrl">
    <!--<div class="selector-reports">
        <h3 class="clickable" ng-class="{'selector-reports-active': selected == 0}" ng-click="select(0)">Fundamental<span class="optional"> Analysis</span></h3>
        <h3 class="clickable" ng-class="{'selector-reports-active': selected == 1}" ng-click="select(1)">Technical<span class="optional"> Analysis</span></h3>
    </div>-->

    <!--<hr />-->
        
    <!-- Fundamental Analysis Reports -->
    <!--<div ng-class="{'selector-reports-hidden': selected == 1}">-->
        <div class="report-list">
            <div class="report-card" ng-repeat="report in reports" ng-click="openReport(report.url, report.name)">
                <h2 class="optional">{{report.name}}</h2>
                <h2 class="size-matters">{{report.ticker}}</h2>
                <!--<h3 style="color: rgb(106,158,31)">{{report.rating}}</h3>-->
                <br />
                <p>
                    <img ng-src="{{report.icon}}" width="20px" height="20px" />
                    <span class="optional">{{report.sector}} <b style="color: black">&#183;</b></span> 
                    <span style="color: #777"> {{report.industry}}</span>
                </p>
            </div>
        </div>

        <!--<div class="report-list">
            <h2>No Opinion</h2>
            <div class="report-card" ng-repeat="hold in fundHolds" ng-click="openReport(hold.url, hold.name)">
                <h2 class="optional">{{hold.name}}</h2>
                <h2 class="size-matters">{{hold.ticker}}</h2>
                <h3 style="color: rgb(89,89,89)">{{hold.rating}}</h3>
                <br />
                <p>
                    <img ng-src="{{hold.icon}}" width="20px" height="20px" />
                    <span class="optional">{{hold.sector}} <b style="color: black">&#183;</b></span> 
                    <span style="color: #777"> {{hold.industry}}</span>
                </p>
            </div>
        </div>

        <div class="report-list" >
            <h2>Sells</h2>
            <div class="report-card" ng-repeat="sell in fundSells" ng-click="openReport(sell.url, sell.name)">
                <h2 class="optional">{{sell.name}}</h2>
                <h2 class="size-matters">{{sell.ticker}}</h2>
                <h3 style="color: rgb(198,35,36)">{{sell.rating}}</h3>
                <br />
                <p>
                    <img ng-src="{{sell.icon}}" width="20px" height="20px" />
                    <span class="optional">{{sell.sector}} <b style="color: black">&#183;</b></span> 
                    <span style="color: #777"> {{sell.industry}}</span>
                </p>
            </div>
        </div>-->
    <!--</div>-->

    <!-- Technical Analysis Reports -->
    <!--<div ng-class="{'selector-reports-hidden': selected == 0}">
        <div class="report-list">
            <h2>Bullish</h2>
            <div class="report-card" ng-repeat="buy in techBuys" ng-click="openReport(buy.url, buy.name)">
                <h2 class="optional">{{buy.name}}</h2>
                <h2 class="size-matters">{{buy.ticker}}</h2>
                <h3 style="color: rgb(106,158,31)"> {{buy.rating}}</h3>
                <br />
                <p>
                    <img ng-src="{{buy.icon}}" width="20px" height="20px" />
                    <span class="optional">{{buy.sector}} <b style="color: black">&#183;</b></span> 
                    <span style="color: #777"> {{buy.industry}}</span>
                </p>
            </div>
        </div>

        <div class="report-list">
            <h2>Bearish</h2>
            <div class="report-card" ng-repeat="sell in techSells" ng-click="openReport(sell.url, sell.name)">
                <h2 class="optional">{{sell.name}}</h2>
                <h2 class="size-matters">{{sell.ticker}}</h2>
                <h3 style="color: rgb(198,35,36)">{{sell.rating}}</h3>
                <br />
                <p>
                    <img ng-src="{{sell.icon}}" width="20px" height="20px" />
                    <span class="optional">{{sell.sector}} <b style="color: black">&#183;</b></span> 
                    <span style="color: #777"> {{sell.industry}}</span>
                </p>
            </div>
        </div>
    </div>-->
</div>