<style>
    .side {
        width: 45%;
        display: inline-block;
    }

    .side h3 {
        text-align: center;
    }
</style>
<h1>Blackjack</h1>

<input type="button" value="Start" ng-if="!started" ng-click="startBlackjack()">
<div ng-if="started">

<label for="bMoney">Starting Money</label>
<input type="number" id="bMoney" value="500" disabled />

<div>
    <div class="side">
        <h3>Dealer's Cards</h3>
        <label for="bdScore">Count</label>
        <br />
        <input type="number" id="bdScore" disabled ng-model="counts.dealer"/>
        <div>
            <span style="margin-right: 4px;" ng-repeat="card in dealer.getCards()">{{card.toString()}}</span>
        </div>
    </div>

    <div class="side">
        <h3>Your Cards</h3>
        <label for="bpScore">Count</label>
        <br />
        <input type="number" id="bpScore" disabled ng-model="counts.player" />
        <div>
            <span style="margin-right: 4px;" ng-repeat="card in player.getCards()">{{card.toString()}}</span>
        </div>
    </div>
</div>

<br />
    <input type="button" value="Hit" ng-click="hitBlackjack()">
    <input type="button" value="Stand">
    <input type="button" value="Double Down">
    <input type="button" value="Split">
</div>